/*

Main stylesheet for Mushroom MetaData Creator / Admin Tool

Mushroom Admin GUI Style Sheet 
Author: 	Karan Nayak
Student ID: 21002217
Date: 		19/8/2023

Filename: admin_gui.css 

*/


/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Main content styles */
.main-content {
    display: flex;
    gap: 2rem;
    max-width: 100%;
    padding: 2rem;
}