/*

Main stylesheet for Mushroom MetaData Creator / Admin Tool

Mushroom Admin GUI Style Sheet 
Author: 	Karan Nayak
Student ID: 21002217
Date: 		19/8/2023

Filename: admin_gui.css 

*/


/* Global styles */
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

/* Navbar styles */
.navbar {
background-color: #7e6551;
color: #fff;
display: flex;
align-items: center;
padding: 1rem;
justify-content: space-between;
}

.navbar-header {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}
.navbar-title {
display: flex;
text-align: center;
justify-content: center;
}

.navbar-links {
display: flex;
gap: 1rem;
margin-left: 1rem;
}

.navbar-links a {
color: #fff;
text-decoration: none;
padding: 0.5rem 1rem;
border-radius: 5px;
}

.navbar-links a:hover {
background-color: #603e2c;
}

.navbar-search {
display: flex;
align-items: center;
gap: 1rem;
}

.navbar-search input {
padding: 0.5rem;
border-radius: 5px;
border: 1px solid #603e2c;
flex: 1;
margin-right: 1rem;
}

.navbar-search button {
padding: 0.5rem 1rem;
border-radius: 5px;
background-color: #603e2c;
color: #fff;
border: none;
cursor: pointer;
}

.navbar-search button:hover {
background-color: #482b1f;
}



/* Filter panel styles */
.filter-panel {
background-color: #ede6dd;
padding: 1rem;
}

.filter-panel div {
background-color: #f5f1ec;
padding: 1rem;
margin-bottom: 1rem;
}

.filter-panel h2 {
margin-bottom: 0.5rem;
}

.filter-panel input {
padding: 0.5rem;
border-radius: 5px;
border: 1px solid #ccc;
width: 93%;
margin: 0 auto;
}

.filter-panel button {
padding: 0.5rem 1rem;
border-radius: 5px;
background-color: #603e2c;
color: #fff;
border: none;
cursor: pointer;
width: 100%;
margin-top: 0.5rem
}

.filter-panel button:hover {
background-color: #482b1f;
}

/* Main content styles */
.main-content {
display: flex;
gap: 2rem;
max-width: 100%;
padding: 2rem;
}

.landing-content {
flex: 1;
background-color: #fff;
padding: 2rem;
border: 1px solid #ccc;
}