# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests

name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [macos-latest]
        node-version: [18.x] # can add extra versions later as a list if needed

    steps:
      - name: Checkout 
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup node env 
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true

      - name: Cache build artifacts and node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: |
            .npm
            .nuxt
            .output
            dist
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
        name: list the state of node modules
        continue-on-error: true
        run: npm list

      - name: install dependencies
        run: npm install

      - name: build static pages
        run: npm run generate

      - name: Upload artifact
        if: runner.os == 'macOS' # upload artifact from macos build only
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./output/public

  deploy:
    runs-on: windows-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2